.ReactModal__Overlay--after-open {
    align-items: center;
    display: flex;
    justify-content: center;
}

.modal {
    background-color: $off-white;
    border-radius: 5px;
    max-width: 22rem;
    outline: none;
    padding: $m-size;
}

.modal__content {
    font-size: $font-size-large;
    font-weight: 400;
    margin-bottom: $m-size;
}

.modal__buttons {
    display: flex;
    justify-content: space-between;
}